
#container{
	margin: 10px;
	border: 1px solid #D0D0D0;
}

#amount {
	width: 100px;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
}

.divform {
	display: inline-block;
	border: 1px solid black;
	width: 150px;
	height: 150px;
	margin: 5px;
	text-align: center;
	vertical-align: top;
}

#activitylog {
	border: 1px solid black;
	width: 95%;
	height: 150px;
	margin: auto;
}